Django>=4.2,<4.3
django-anymail[mailgun]==8.5
getconf==1.11.1
gunicorn==20.1.0
ipython
rollbar==0.16.2
telescoop-backup==0.6.5
Unidecode==1.4.0
wagtail==6.3.8
wagtail-localize==1.13.1
wagtail-modeladmin==2.2.0