{% extends "base.html" %}
{% load static i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load main_tags %}

{% block content %}
  <div class="section container pt-6">
    <p>cc - {{translated_url}}</p>
    {% include "components/breadcrumbs.html" %}

    <div class="has-background-white">
      <h1 class="title is-1">{{ page.title }}</h1>

      {% include "components/free_body.html" with body=news.body %}
    </div>
  </div>
  <div class="has-background-info-light">
    <div class="section container">
      <div class="columns">
        <div class="column is-6 content">
          {{ page.specific.left_column | richtext }}
        </div>
        <div class="column is-6">
          <div class="card">
            <div class="card-content">
              <h2 class="title is-2">{% translate "Formulaire de contact" %}</h2>
              <p>{% translate "Les champs comprenant une astérisque (*) sont obligatoires." %}</p>

              <form action="" method="post">
                {% csrf_token %}

                <div class="columns mt-5">
                  <div class="column is-6">
                    <div class="field">
                      <label for="firstname" class="label">{% translate "Prénom" %} *</label>
                      <div class="control">
                        <input name="firstname" id="firstname" class="input" type="text" placeholder="Jean">
                      </div>
                    </div>
                    <div class="field">
                      <label for="email" class="label">{% translate "Adresse e-mail" %} *</label>
                      <div class="control">
                        <input name="email" id="email" class="input" type="email" placeholder="exemple@mail.com">
                      </div>
                    </div>
                  </div>
                  <div class="column is-6">
                    <div class="field">
                      <label for="lastname" class="label">{% translate "Nom" %} *</label>
                      <div class="control">
                        <input name="lastname" id="lastname" class="input" type="text" placeholder="Dupont">
                      </div>
                    </div>
                    <div class="field">
                      <label for="country" class="label">{% translate "Pays" %} *</label>
                      <div class="control">
                        <input name="country" id="country" class="input" type="text" placeholder="France">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <label for="subject" class="label">{% translate "Quelle est la raison de votre prise de contact ?" %}</label>
                  <div class="control">
                    <div class="select">
                      <select name="subject" id="subject">
                        <option value="Partage d'actualités">{% translate "Partage d'actualités" %}</option>
                        <option value="Proposition de collaboration">{% translate "Proposition de collaboration" %}</option>
                        <option value="Partage de ressource">{% translate "Partager une ressource" %}</option>
                        <option value="Demande d'informations">{% translate "Demande d'informations" %}</option>
                        <option value="Avis sur ce site web" {% if review_selected %}selected{% endif %}>{% translate "Avis sur ce site web" %}
                        </option>
                        <option value="Autre">{% translate "Autre" %}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <label for="message" class="label">{% translate "Message" %}</label>
                  <div class="control">
                    <textarea name="message" id="message" class="textarea" placeholder="Textarea"></textarea>
                  </div>
                </div>

                <div class="field mt-5">
                  <div class="control">
                    <label class="checkbox">
                      <input name="agree" type="checkbox">
                      {% translate "J'autorise ce site à conserver mes données transmises via ce formulaire" %}
                    </label>
                  </div>
                </div>

                <div style="text-align: right" class="mt-5">
                  <input type="submit" class="button is-secondary" value="Envoyer">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 55px"></div>
  <div class="has-background-secondary-light">
    <div class="container">
      <div class="columns">
        <div class="column is-6 py-5" style="display: flex; align-items: center; justify-content: center">
          <img src="{% static 'img/newsletter.svg' %}">
        </div>
        <div class="column is-6 is-flex" style="align-items: center">
          <div>
            <h2 class="title is-2">{% translate "Tenez-vous informés" %}</h2>
            <div>
              {{ page.specific.newsletter_text | richtext }}
            </div>
            <div class="mt-5">
              <a target="_blank" href="{{ settings.mangmap.NewsLetterSettings.newsLetter }}" class="button is-secondary">
                {% translate "Accéder au formulaire" %}
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
