{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load main_tags %}

{% block content %}
    {% if page.specific.banner_image %}
    <div class="banner-image-container p-4">
      <div class="banner-image">
        {% image page.specific.banner_image fill-1500x600 as banner_image %}
        <img src="{{banner_image.url}}" class="fr-responsive-img" alt="">
      </div>
    </div>
    {% endif %}

  <div class="container pt-6">
    {% include "components/breadcrumbs.html" %}
    <h1 class="title is-1">{{ page.title }}</h1>
    {% include "components/free_body.html" with body=page.specific.body %}
  </div>
{% endblock %}
