{% extends "base.html" %}
{% load static i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load main_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  <div class="banner-image-container p-4">
    <div class="banner-image">
      {% image page.specific.banner_image fill-1500x600 as banner_image %}
      <img src="{{banner_image.url}}" class="fr-responsive-img" alt="">
    </div>
    <div class="container" style="height: 100%">
        <div class="columns" style="height: 100%; justify-content: space-between; align-items: center;">
          <div class="column is-8-tablet is-full-mobile is-5-desktop">
            <div class="p-5 text-container">
              <h1 class="title is-size-1-desktop is-size-2-tablet is-size-3-mobile has-text-white">{{page.specific.title|safe}}</h1>
              <div class="is-size-5 is-size-6-mobile">
                {{ page.specific.introduction|richtext }}
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  {# News #}
  <div class="has-background-info-light">
    <div class="container section py-2">
      <h2 class="title is-3 mt-3">{{ page.specific.news_block_title|richtext }}</h2>
      <div class="columns">
        {% for news in news_list %}
          <div class="column {% if forloop.counter == 1 %}is-6{% else %}is-3{% endif %}">
            {% include "components/news_card.html" with news=news is_small=forloop.counter0 large_by_default=1 full_height=1 %}
          </div>
        {% endfor %}
      </div>
      <div class="has-text-centered my-5">
        <a href="{{ news_list_link }}" class="button is-medium is-secondary">{% translate "Toutes les actualités"%}</a>
      </div>
    </div>
  </div>
  <div class="section container">
    {# Platform promotion #}
    <div class="columns mt-5">
      <div class="column is-6">
        <h2 class="title is-3 my-3">{{ page.specific.platform_block_title }}</h2>
        <div class="rich-text">
          {{ page.specific.platform_block_description | richtext }}
        </div>
        <a href="{{ settings.mangmap.StructureSettings.plateformUrl }}" class="button is-medium is-secondary my-5">{{ page.specific.platform_block_cta }}</a>
      </div>
      <div class="column is-6">
        {% if page.specific.introduction_youtube_video_id %}
          <div class="video-container">
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube-nocookie.com/embed/{{page.specific.introduction_youtube_video_id}}"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        {% else %}
          {% image page.specific.platform_block_image width-620 as platform_image %}
          {% include "components/figure.html" with image=platform_image class="fr-responsive-img" %}
        {% endif %}
      </div>
    </div>
    {# Figures #}
    <div class="figures" style="margin-top: 7rem">
      <div class="figures-list mt-6">
        <div class="figure-container">
          <span class="icon has-text-secondary">
            {% include "components/icon.html" with size="120" name="pin-distance" %}
          </span>
          <p class="is-uppercase figure">{{ n_sites }}</p>
          <p>{{ page.specific.key_figures_sites_nb_title }}</p>
        </div>
        <div class="figure-container">
          <span class="icon has-text-secondary">
            {% include "components/icon.html" with size="120" name="stack" %}
          </span>
          <p class="is-uppercase figure">{{ n_tiles }}</p>
          <p>{{ page.specific.key_figures_tiles_nb_title }}</p>
        </div>
        <div class="figure-container">
          <span class="icon has-text-secondary">
            {% include "components/icon.html" with size="120" name="calendar-2" %}
          </span>
          <p class="is-uppercase figure">{{ disponibility_years }}</p>
          <p>{{ page.specific.key_figures_year }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="has-background-secondary-light">
    <div class="container section">
      <div class="columns">
        <div class="column is-6">
          <img src="{% static 'img/newsletter.svg' %}">
        </div>
        <div class="column is-6">
          <div class="is-flex is-align-items-center is-justify-content-center" style="height: 100%">
            <div>
              <h2 class="title is-3">{{ page.specific.contact_block_title }}</h2>
              <p>{{ page.specific.contact_block_description }}</p>
              <div class="mt-3">
                <a target="_blank" href="/contact" class="button is-secondary">
                  {{ page.specific.contact_block_cta }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
