{% extends "base.html" %}
{% load static i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load main_tags %}

{% block content %}
  <div class="container pt-3 mb-5">
    {% include "components/breadcrumbs.html" %}

    <h1 class="title is-1">{% translate "Les sites" %}</h1>
  </div>
  <div id="app">

      <div class="container mb-6">
        <div class="content rich-text">
            {{ page.specific.introduction | richtext }}
          </div>
        {% if page.specific.list_displayed %}
      <div>
        <div class="mb-6" style="display: flex; justify-content: center">
          <div class="tabs is-toggle is-toggle-rounded">
            <ul>
              <li :class="isMapView ? '' : 'is-active'" @click="isMapView = false">
                <a>
                <span class="icon is-small"
                      style="line-height: 0">{% include "components/icon.html" with name="list-check" size="16" %}</span>
                  <span>{% translate "Voir la liste" %}</span>
                </a>
              </li>
              <li :class="isMapView ? 'is-active' : ''" @click="enableMapView()">
                <a>
                <span class="icon is-small" style="line-height: 0">
                  {% include "components/icon.html" with name="earth" size="16" %}
                </span>
                  <span>{% translate "Voir sur la carte" %}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      {% include "components/sites_list_view.html" %}
      {% endif %}

      {% include "components/sites_map_view.html" %}

    </div>
  </div>

{% endblock content %}

{% block extra_js %}
  <script>
    var thematics = JSON.parse('{{ thematics | escapejs }}');
      var thematicBySlug = {};
      thematics.forEach(function (thematic) {
          thematicBySlug[thematic.slug] = thematic;
      });
      console.log("### thematicBySlug", thematicBySlug);
      var zones = JSON.parse('{{ zones | escapejs }}');
      var zoneBySlug = {};
      zones.forEach(function (zone) {
          zoneBySlug[zone.code] = zone;
      });
      var countries = JSON.parse('{{ countries | escapejs }}');
      var countryParameters = {};
      var zoneByCountry = {};
      countries.forEach(country => {
          countryParameters[country.code] = country;
          zoneByCountry[country.code] = country.zone;
      });
      var zoneParameters = {};
      zones.forEach(zone => {
          zoneParameters[zone.code] = zone;
      });

      var markers = [];

      function normalize(str) {
          return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "")
      }

      function startsWith(str, other) {
          return normalize(str).indexOf(normalize(other)) === 0;
      }


      Vue.createApp({
          delimiters: ['[[', ']]'],
          data() {
              return {
                  isMapView: true,
                  map: null,
                  sites: JSON.parse('{{ sites | escapejs }}'),
                  sitesPerZone: JSON.parse('{{ sites_per_zone | escapejs }}'),
                  countryParameters: countryParameters,
                  searchInput: '',
                  thematicBySlug: thematicBySlug,
                  zoneBySlug: zoneBySlug,
                  zones: zones,
              }
          },
          methods: {
              enableMapView() {
                  // load mapbox js and css files
                  this.isMapView = true;
                  var head = document.getElementsByTagName('head')[0];
                  var link = document.createElement('link');
                  link.rel = 'stylesheet';
                  link.type = 'text/css';
                  link.href = '{% static 'css/mapbox-gl.css' %}';
                  link.media = 'all';
                  head.appendChild(link);

                  var script = document.createElement('script');
                  script.onload = () => {
                      this.initMap();
                      this.updateMap();
                  };
                  script.src = '{% static 'js/mapbox-gl.js' %}';
                  document.head.appendChild(script); //or something of the likes
              },
              initMap() {
                  mapboxgl.accessToken = 'pk.eyJ1IjoibWF4aW1ldGVsZXNjb29wIiwiYSI6ImNrbHJrbWV6ajAzd20ycXB2YjZodzZ0ancifQ.VLDpa6x-j-3kh65_S-H_rA';

                  this.map = new mapboxgl.Map({
                      container: 'map',
                      // style: 'mapbox://styles/mapbox/satellite-v9',
                      style: 'mapbox://styles/mapbox/satellite-streets-v11',
                      center: [22.3688733, 1.9171377], // starting position [lng, lat]
                      zoom: 2,
                  });
                  window.map = this.map;
                  this.map.on('zoom', () => {
                      this.updateMap();
                  });
                  map.addControl(new mapboxgl.NavigationControl({showCompass: false}));
              },


              updateMap() {
                  const isShowingCountries = this.map.getZoom() > 2.9;
                  // reset markers
                  for (var marker of markers) {
                      marker.remove();
                  }
                  markers = [];
                  console.log("### updateMap", isShowingCountries, this.sites, markers);
                  // building a sitePerCountry dict
                  var sitesPerCountry = {};
                  var sitesPerZone = {};
                  var addedSitePerZone = {};
                  zones.forEach(zone => {
                      addedSitePerZone[zone.code] = {}
                  });
                  console.log("-----------------")
                  for (const site of this.sites) {
                      var siteCountries = site.countries;
                      console.log(site)
                      console.log(sitesPerCountry)
                      console.log(countryParameters)
                      for (const country of siteCountries) {
                        if (sitesPerCountry[country] == null) {
                            sitesPerCountry[country] = [];
                        }
                        sitesPerCountry[country].push(site);
                        const zone = countryParameters[country]?.zone;
                        if (zone) {
                            if (sitesPerZone[zone] == null) {
                                sitesPerZone[zone] = [];
                            }
                            if (!addedSitePerZone[zone][site.id]) {
                                addedSitePerZone[zone][site.id] = true;
                                sitesPerZone[zone].push(site);
                            }
                        }
                      }
                  }

                  let siteBase = sitesPerZone;
                  let parametersBase = zoneParameters;
                  if (isShowingCountries) {
                      siteBase = sitesPerCountry;
                      parametersBase = countryParameters;
                  }

                  // adding sites per country to the map
                  for (const params of Object.entries(siteBase)) {
                      const localityKey = params[0];
                      const sites = params[1];

                      // building marker for country
                      const marker = document.createElement('div');
                      marker.className = "country-marker";
                      const markerChild = document.createElement('div');
                      markerChild.innerText = sites.length;
                      marker.appendChild(markerChild);
                      const localityParams = parametersBase[localityKey];

                      // building popup for marker
                      const popupHtml = document.createElement("div");
                      const popupHolder = document.createElement("div");
                      popupHolder.className = "country-popup";
                      const title = document.createElement("h2");
                      title.className = "mb-4";
                      title.innerHTML = (
                          "<span class='has-text-weight-bold'>" + sites.length + " sites </span>"
                          + (isShowingCountries ? "{% translate 'au' %}" : "{% translate 'en' %}")
                          + " <span class='has-text-weight-bold'>" + localityParams?.name + "</span> :"
                      );
                      popupHolder.appendChild(title);
                      const sitesHolder = document.createElement("ul");
                      sitesHolder.className = "sites-holder";
                      for (const site of sites) {
                          const element = document.createElement("div");
                          element.className = "card has-background-info-light";

                          var elementContent = document.createElement("div");
                          elementContent.className = "card-content";
                          var elementTop = document.createElement("div");
                          elementTop.className = "site-top-line";
                          elementTop.style.display = "flex";
                          elementTop.style.justifyContent = "space-between";
                          var topLeft = document.createElement("div");
                          topLeft.innerText = site.thematics
                              .map(thematic => this.thematicBySlug[thematic].name)
                              .join(", ");
                          elementTop.appendChild(topLeft);
                          elementContent.appendChild(elementTop);
                          var elementTitle = document.createElement("h3");
                          elementTitle.innerText = site.name;
                          elementTitle.className = "title is-5 has-text-weight-bold mb-4";
                          elementContent.appendChild(elementTitle);
                          var elementIntro = document.createElement("p");
                          elementIntro.innerHTML = site.short_description_max_250;
                          elementContent.appendChild(elementIntro);

                          var tuileNbElement = document.createElement("p");
                          tuileNbElement.className = "mt-2";
                          tuileNbElement.innerHTML = "<b>{% translate 'Nombre de tuiles :' %} </b>" + site.tiles_nb;
                          var coverageElement = document.createElement("p");
                          coverageElement.innerHTML = "<b>{% translate 'Couverture du littoral :' %} </b>" + site.coastline_coverage;
                          elementContent.appendChild(tuileNbElement);
                          elementContent.appendChild(coverageElement);
                          if (site.link) {
                              var elementButton = document.createElement("a");
                              elementButton.href = site.link;
                              elementButton.target = "_blank"
                              elementButton.className = "button is-secondary is-small mt-2";
                              elementButton.innerText = "{% translate 'Accéder au lien du site' %}";
                              elementContent.appendChild(elementButton);
                          }

                          element.appendChild(elementContent);
                          sitesHolder.appendChild(element);
                      }
                      popupHolder.appendChild(sitesHolder);
                      popupHtml.appendChild(popupHolder);

                      const popup = new mapboxgl.Popup({offset: 25}).setHTML(
                          popupHtml.innerHTML
                      );

                      // add the marker with popup to the map
                      if (localityParams) {
                        // if the country is not translated, localityParams is undefined
                          markers.push(
                              new mapboxgl.Marker(marker)
                                  .setLngLat([localityParams.longitude, localityParams.latitude])
                                  .setPopup(popup)
                                  .addTo(this.map)
                          );
                      }
                  }
              }
          },
          mounted() {
            this.enableMapView();
        },
      }).mount('#app')
  </script>
{% endblock extra_js %}

{% block extra_css %}
<style>
  .elements-holder {
      margin-top: -10px;
      margin-left: -16px;
  }

  .elements-holder > * {
      margin-top: 10px;
      margin-left: 16px;
  }

  .has-background-std {
      background: #EEF3FC;
  }

  .country-marker {
      background-image: url("{% static 'img/pin.svg' %}");
      background-repeat: no-repeat;
      width: 75px;
      height: 180px;
      text-align: center;
      color: white;
      font-size: 16px;
      /* padding-top: 0.9em; */
      font-weight: bold;
      background-position: bottom 90px center;
      background-size: contain;
  }

  .country-marker > div {
      width: 45px;
      height: 45px;
      background: #5469B3;
      text-align: center;
      margin-top: 12px;
      margin-left: 15px;
      border-radius: 100%;
      padding-top: 12px;
  }

  .mapboxgl-popup-content {
      padding: 24px !important;
      width: 442px;
      max-height: 433px;
  }

  .sites-holder {
      max-height: 351px;
      overflow-y: auto;
      margin-top: -19px;
  }

  .sites-holder > div {
      margin-top: 19px;
  }

  .site-top-line {
      font-size: 0.75rem;
  }

  .button.is-secondary.is-outlined:focus {
      background: transparent !important;
      color: #E56934 !important;
  }

  .button.is-outlined:hover .icon img, .button:not(.is-outlined) .icon img {
      filter: brightness(0) invert(1);
  }
  .button.is-disabled{
      opacity: 0.5;
      cursor: not-allowed;
  }
</style>
{% endblock %}
