{% load static i18n %}

<div v-if="!isMapView" class="card-holder">
  <template v-for="site in sites"
            :key="site.slug">
    <div class="card site-card footer-at-bottom"
         :class="(site.thematic && site.thematic != 'multiple') ? 'has-background-' + site.thematic + '-light' : 'has-background-std'">
      <div class="card-content">
        <a :href="[[ site.link ]]"
           :download="site.is_download ? site.download_name : null"
           :target="site.is_download ? '_self' : '_blank'">
          <div class="is-flex" style="justify-content: space-between; font-size: 11px">
            <div>
              <template v-if="site.thematic && site.thematic != 'multiple'">
            <span class="icon">
              <img :src="thematicBySlug[site.thematic].icon">
            </span>
                [[ thematicBySlug[site.thematic].name ]]
              </template>
            </div>
            <div v-if="site.zone">
              <span class="icon">
                <img :src="site.zone.icon">
              </span>
              [[ zoneBySlug[site.zone].name ]]
            </div>
          </div>
        </a>

        <a :href="[[ site.link ]]"
           :download="site.is_download ? site.download_name : null"
           :target="site.is_download ? '_self' : '_blank'">
          <div class="my-5 has-text-centered">
            <img v-if="site.thematic && site.thematic != 'multiple'"
                 :src="thematicBySlug[site.thematic].icon"
                 style="width: 107px ; height: 107px; opacity: 0.5">
            <template v-else>
              <img v-if="site.thematics.length >= 2" :src="'{% static 'img/thematics/multiple.svg' %}'"
                   style="width: 107px ; height: 107px; opacity: 0.5">
              <img v-else :src="'{% static 'img/thematics/unspecified_color.svg' %}'"
                   style="width: 107px ; height: 107px; opacity: 0.5">
            </template>
          </div>
          <div>
            <span class="has-text-weight-bold">[[ site.site_type ]]</span>
          </div>
          <h3 class="title is-5">[[ site.name ]]</h3>
        </a>
        <p v-if="site.showFullDescription"
           style="word-break: break-word"
           v-html="site.short_description"></p>
        <p v-if="!site.showFullDescription"
           style="word-break: break-word"
           v-html="site.short_description_max_250"></p>
        <span v-if="site.is_description_long"
              class="button is-info is-small is-outlined"
              @click="site.showFullDescription = !site.showFullDescription">
          afficher [[ site.showFullDescription ? 'moins' : 'plus']]
        </span>
      </div>

      <div class="card-footer" style="flex-direction: column; padding: 24px; border: none;">
        <div>
          <span v-if="site.source_name">
            <span class="icon"><img src="{% static 'img/source.svg' %}"
                                    style="width: 12px; height: 12px;"></span>
            Source : [[ site.source_name ]]
          </span>
        </div>
        <a :href="[[ site.link ]]"
           :download="site.is_download ? site.download_name : null"
           :target="site.is_download ? '_self' : '_blank'">
          <div class="mt-2">
            <button class="button is-secondary is-medium">
            <span class="icon">
              {% include "components/icon.html" with size="16" name="share-box" %}
            </span>
              <span>{% translate "Accéder au lien du site" %}</span>
            </button>
          </div>
        </a>
      </div>
    </div>
  </template>
</div>