{% load static i18n %}

<div v-if="!isMapView" >
  <template v-for="(sites, zone) in sitesPerZone"
            :key="zone">
    <h2 class="title is-4">[[zone]]</h2>
    <div class="card-holder mb-6" style="justify-content: flex-start;">
      <template v-for="site in sites"
              :key="site.slug">
        <a v-if="site.link"
          class="card has-background-std"
          :href="[[ site.link ]]"
          :download="site.is_download ? site.download_name : null"
          :target="site.is_download ? '_self' : '_blank'">
          <div class="card-content">
            <p class="title is-6">[[ site.name ]]</p>
          </div>
        </a>
        <div v-else class="card has-background-std">
          <div class="card-content">
            <p class="title is-6">[[ site.name ]]</p>
          </div>
        </div>
      </template>
    </div>
  </template>
</div>
