{% load static i18n %}
{% load main_tags %}
{% load wagtailcore_tags %}

{% with main_thematic=site.get_main_thematic %}
  <div class="card site-card footer-at-bottom
            {% if main_thematic %}
              has-background-{{ main_thematic.slug }}-light
            {% else %}
              has-background-std
            {% endif %}">
    <div class="card-content">
      <div class="is-flex" style="justify-content: space-between; font-size: 11px">
        
        {% if site.zones.first %}
          <div>
            {{ site.zones.first.name }}
          </div>
        {% endif %}
      </div>
      <div>
        <span class="has-text-weight-bold">{{ site.site_type }}</span>
      </div>
      <h3 class="title is-5 mt-2">{{ site.name }}</h3>
      <div>
        {{ site.short_description|richtext }}
      </div>
      <p class="mt-2"><b>{% translate "Nombre de tuiles :" %}</b> {{site.tiles_nb}}</p>
      <p class=""><b>{% translate "Couverture du littoral :" %}</b> {{site.coastline_coverage}}</p>
    </div>


    {% if site.link %}
    <div class="card-footer" style="flex-direction: column; padding: 0 24px 24px 24px; border: none;">
      <div class="mt-2">
        <button class="button is-secondary is-medium">
          <span class="icon">
            {% include "components/icon.html" with size="16" name="share-box" %}
          </span>
          <span>{% translate "Accéder au lien du site" %}</span>
        </button>
      </div>
    </div>
    {% endif %}
  </div>
{% endwith %}
